* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    background-color: rgb(209, 206, 206);
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Faz com que o corpo da página ocupe toda a altura da janela do navegador */
}

.container h1{
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.711);
    padding: 10px;
}


.container {
    width: 50vw;
    height: 70vh;
    max-height: 100vh;
    border-radius: 10px;
    overflow-y: auto;
    background-color: rgba(58, 141, 214, 0.916);
    /* align-items: center; Centraliza verticalmente dentro do container */
    /* justify-content: center; Centraliza horizontalmente dentro do container */
}

.container > p{
    padding: 10px;

}

.container ol{
    padding: 10px;
    margin-left: 20px;
}

.container input{
    height: 20px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.582);
}

.container .button-add{
    font-size: 0.8em;
    padding: 1px;
}

.container ol > li{
    border: 1px solid gray;
    font-size: 1.1em;
    color: rgb(244, 244, 244);
    padding: 3px;
    margin: 2px;
    border-radius: 5px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.609), transparent);
}
.tarefa button{
    float: right;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.585);
    padding: 2px;
    border-radius: 5px;

    
}
  
.tarefa button:hover{
    padding: 1px;
    background-color: rgba(21, 83, 70, 0.769);
    color: wheat;


    
}
  